<div class="author">
    <h1 class="author__heading">Hi, I'm Pavithran</h1>
    <p class="author__body">web developer and content creator</p>
</div>

<img src="/img/hero-image.webp" alt="person looking out through windw" class="hero-image" width="981" height="528">

<section class="articles">
    <h2 class="articles__heading">Latest Posts</h2>
    <ul class="articles-ul">
        <li>
            <a href="#">
                <span>Post title</span>
                <span class="articles__date">Date</span>
            </a>
        </li>
    </ul>
<a href="#" class="pagination">&lt; View older post</a>
</section>
